fastapi>=0.115.0
uvicorn[standard]>=0.32.0
yt-dlp
openai-whisper
deep-translator==1.11.4
ffmpeg-python==0.2.0
websockets>=13.0
python-multipart>=0.0.12
aiofiles>=24.1.0
httpx>=0.27.0
pydantic>=2.10.0
pydantic-settings>=2.6.0
python-dotenv==1.0.1
requests>=2.32.0
setuptools
numpy